body { background: radial-gradient(circle, rgba(232, 154, 66, 0.3) 30%, #fbfbfb 70%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.up {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.logo img {
    display: block;
}
.up{
    text-align: center;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}

.navbar nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar nav ul li {
    margin: 0 15px;
    padding: 0 10px;
    position: relative;
}

.navbar nav ul li:not(:last-child) {
    border-right: 1px solid #ddd;
}

.navbar a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    padding: 5px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ee7e4e;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}